@inherits LayoutComponentBase

<div class="main-layout">
    <header class="top-nav">
        <nav class="nav-links">
            <NavLink href="/" Match="NavLinkMatch.All" class="nav-btn">Home</NavLink>
            <NavLink href="/shipments" class="nav-btn">Shipments</NavLink>
            <NavLink href="/customers" class="nav-btn">Customers</NavLink>
            <NavLink href="/weather" class="nav-btn">Weather</NavLink>
            <NavLink href="/about" class="nav-btn">About</NavLink>
        </nav>
    </header>

    <main>
        @Body
    </main>
</div>