@using LogiHUB.Shared.Enums
@using LogiHUB.Shared.Extensions
@using System.ComponentModel.DataAnnotations

<div class="timeline">

    @foreach (var stage in StatusOrder)
    {
        <div class="timeline-step">

            <div class="timeline-circle @(GetStatusClass(stage))"></div>

            <div class="timeline-label">
                @stage.GetDisplayName()
            </div>

        </div>
    }

</div>

@code {

    [Parameter, Required]
    public ShipmentStatus Status { get; set; }

    private List<ShipmentStatus> StatusOrder = new()
    {
        ShipmentStatus.Created,
        ShipmentStatus.InTransit,
        ShipmentStatus.Delivered,
        ShipmentStatus.Delayed,
        ShipmentStatus.Cancelled
    };

    string GetStatusClass(ShipmentStatus stage)
    {
        // Cancelled shipment
        if (Status == ShipmentStatus.Cancelled)
        {
            if (stage == ShipmentStatus.Created) return "done";
            if (stage == ShipmentStatus.Cancelled) return "cancelled";
            return "";
        }

        // Delayed shipment
        if (Status == ShipmentStatus.Delayed)
        {
            if (stage == ShipmentStatus.Created || stage == ShipmentStatus.InTransit) return "done";
            if (stage == ShipmentStatus.Delayed) return "delayed";
            return "";
        }

        // Normal flow
        return StatusOrder.IndexOf(stage) <= StatusOrder.IndexOf(Status)
            ? "done"
            : "";
    }
}